<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="mzInterface" value="http://192.168.1.230:82/mhis-fwa-platform/public" />
    <add key="mzInterfaceTest" value="http://192.168.1.230:87/mhis-fwa-platform/public" />
    <add key="auth_token" value="vT3G5Otjrp3KYOPGhXbJ56rPMKQHXccn3WTtRWhFLhdFE_qszm7WuKo0gpvil5a1y_4OT8ANQk0pMdG1tUALjw" />
    <add key="ybNewUrl" value="http://183.238.190.106:17001/szsi-portal/transData" />
    <add key="YLJGBM" value="G3140" />
    <add key="cardType" value="3" />
    <!--系统环境0:测试,1:生产-->
    <add key="master" value="0" />
    <!--是否调试,0:调试,1:非调试-->
    <add key="debug" value="1" />
    <!--是否调试智慧医保:0:调试,1:非调试-->
    <add key="debugZH" value="1" />
    <!--测试卡信息-->
    <add key="transVersion" value="V0.3" />
    <add key="verifyCode" value="000000|f9f466a9e4cc41bf6c08e05117c2638f" />
    <!--医保微信扫二维码接口地址_测试地址-->
    <add key="WxYBQrInfo" value="https://med-biz-pre.wecity.qq.com/api/mipuserquery/codequery/" />            
    <add key ="WxYBtoken" value="https://api.weixin.qq.com/payinsurance/gettoken" />    
    <add key ="WxYBregister" value="https://api.weixin.qq.com/payinsurance/qrscanpreregister" />    
    <add key="WxYBOrder" value="https://api.weixin.qq.com/payinsurance/qrscanunifiedorder" />    
    <add key="WxYBCheckOrder" value="https://api.weixin.qq.com/payinsurance/queryorder" />    
    <add key="WxYBrefund" value="https://api.weixin.qq.com/payinsurance/refund" />    
    <add key="WxYBrefundCheck" value="https://api.weixin.qq.com/payinsurance/queryrefund" />
    <add key="WxYBCloseOrder" value="https://api.weixin.qq.com/payinsurance/closeorder"/>
    <!--SmartID一卡通读卡设备的授权码-->
    <add key="Lisences" value="D790E54281C6A275" />
    <add key="IP" value="59.110.153.12" />
    <add key="port" value="8080" />
    <add key="path" value="D:\log\szsi_smart\log\" />
    
    <!--省医保相关字段 start-->
    <!--<add key="SYBUrl" value="http://19.15.78.136:20001/ebus/gdyb_inf/poc/hsa/hgs/"/>--><!--测试-->
	<add key="SYBUrl" value="http://10.97.240.206/ebus/gdyb_inf/poc/hsa/hgs/"/>
    <!--<add key="SYBUrl" value="http://igb.hsa.gdgov.cn/ebus/gdyb_inf/poc/hsa/hgs/"/>--><!--正式-->
    <add key="paasid" value="test_sz" />
    <add key="secretKey" value="qck3wVv8LO325Bd2O0ulo2THAz3jU2sD" />
    
    <!--省医保相关字段 end-->
    
    <!--深圳监管数据对接 start-->
    <!--系统所处环境enviroment,Produce:生产环境,ABTest:ABTest环境,Test:测试环境,Local:本地或单机-->
    <add key="Enviroment" value="Local" />
    <!--深圳监管数据对接 end-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="1.0.0.0-8.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>     
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>